// bower:scss
// endbower
@import 'login';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  font-family: 'Open Sans';
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Lato';
}

.section-head {
  background: #1a1617;
  color: #fff;
  padding: 0 1em;
}
h1 img {
  margin-right: 20px;
  margin-top: -15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .section-head {
    padding: 0 3em;
  }
}
