<link rel="import" href="/elements/paper-input/paper-input.html">
<div class="login">
  <div class="wrapper">
    <h1>Vitamin <img src="/images/logo-big.png" alt=""></h1>
    <div class="login-body">
      <form name="login-form" class="login__form">
        <h2>Patient Sign In</h2>
        <paper-input floatinglabel label="Email" type="text" ng-model="user.username"></paper-input>
        <paper-input floatinglabel label="Password" type="password" ng-model="user.password"></paper-input>
        <div class="pull-right">
          <paper-button class="colored" label="Sign In" raisedButton ng-click="doOAuth(user, '/')"></paper-button>
        </div>
      </form>
      <div class="recover">
        <a href="/#/reset">Forgot your password?</a>
      </div>
    </div>
  </div>
</div>