<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon"><span></span></a>
      </section>

      <section class="right tab-bar-section">
        <div class="text-right"><i class="fa fa-user"></i> User Name</div>
      </section>
    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label><i class="fa fa-cog"></i> Menu</label></li>
        <li><a href="#">The Psychohistorians</a></li>
        <li><a href="/about">About</a></li>
        <li><label><i class="fa fa-cog"></i> Settings</label></li>
      </ul>
    </aside>

    <div class="row">
      <section class="main-section">
        <div class="small-12 columns">
          <p>This is the about view.</p>
        </div>
      </section>
    </div>
    <div class="footer">
      <div class="small-12 columns">
        <p class="text-center"><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
      </div>
    </div>

    <a class="exit-off-canvas"></a>
  </div>
</div>