

<div class="row">
  <section class="main-section">
    <div class="small-12 columns">
      <h1 class="logo text-center">Vitamin <img src="/images/logo-big.png"></h1>
      <h2 class="section-head">
        Today
        <div class="pull-right">8/5/14</div>
      </h2>
      <ul class="todos">
        <li class="small-12 columns"><h3><paper-checkbox checked></paper-checkbox>Complete User Profile</h3><div class="pull-right"><paper-button raisedButton ng-click="go('/objective')" label="Complete Objective"></paper-button></div></li>
        <li class="small-12 columns"><h3><paper-checkbox></paper-checkbox>Epworth Sleepiness Survey</h3><div class="pull-right"><paper-button raisedButton ng-click="go('/survey')" label="Take Survey"></paper-button></div></li>
        <li class="small-12 columns"><h3><paper-checkbox checked></paper-checkbox>Record Blood Glucose</h3><div class="pull-right"><paper-button raisedButton ng-click="go('/tracktion')" label="Record Blood Glucose"></paper-button></div></li>
      </ul>
    </div>
    <div class="small-12 columns">
      <h2 class="section-head">
        Upcoming
        <div class="pull-right">8/6/14 - 8/20/14</div>
      </h2>
      <ul class="todos">
        <li class="small-12 columns"><h3>30 Day CPAP Check In</h3><div class="pull-right"><paper-button raisedButton onclick="document.querySelector('#toast2').show()" label="Be Prepared"></paper-button></div></li>
        <li class="small-12 columns"><h3>Record Blood Glucose</h3><div class="pull-right"><paper-button raisedButton onclick="document.querySelector('#toast2').show()" label="Record Blood Glucose"></paper-button></div></li>
      </ul>
    </div>
  </section>
</div>
<paper-toast id="toast2" role="alert" text="Connection timed out. Showing limited messages.">
  <div style="color: #eeff41;" onclick="console.log('RETRY')">Retry</div>
</paper-toast>