<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon"><span></span></a>
      </section>

      <section class="right tab-bar-section">
        <vc-nav user="Laurel Nason"></vc-nav>
      </section>
    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label><i class="fa fa-cog"></i> Menu</label></li>
        <li><a href="#/">Dashboard</a></li>
        <li><a href="#/history">History</a></li>
        <li><a href="#/news">News</a></li>
        <li><a href="#/careteam">Careteam</a></li>
        <li><label><i class="fa fa-cog"></i> Settings</label></li>
        <li><a href="#/profile">Edit Profile</a></li>
      </ul>
    </aside>
    <a class="exit-off-canvas"></a>

    <div class="row">
      <section class="main-section">
        <div class="small-12 columns">
          <h1>Vitamin <img src="/images/logo-big.png"></h1>
          <h2 class="section-head">
            Today
            <div class="pull-right">8/5/14</div>
          </h2>
          <ul>
            <li class="small-12 columns"><h3>Complete User Profile</h3><div class="pull-right"><paper-button raisedButton onclick="document.querySelector('#toast2').show()" label="Complete Objective"></paper-button></div></li>
            <li class="small-12 columns"><h3>Epworth Sleepiness Survey</h3><div class="pull-right"><paper-button raisedButton onclick="document.querySelector('#toast2').show()" label="Take Survey"></paper-button></div></li>
            <li class="small-12 columns"><h3>Record Blood Glucose</h3><div class="pull-right"><paper-button raisedButton onclick="document.querySelector('#toast2').show()" label="Record Blood Glucose"></paper-button></div></li>
          </ul>
        </div>
        <div class="small-12 columns">
          <h2 class="section-head">
            Upcoming
            <div class="pull-right">8/6/14 - 8/20/14</div>
          </h2>
          <ul>
            <li class="small-12 columns"><h3>30 Day CPAP Check In</h3><div class="pull-right"><paper-button raisedButton onclick="document.querySelector('#toast2').show()" label="Be Prepared"></paper-button></div></li>
          </ul>
        </div>
      </section>
    </div>
    <div class="footer">
      <div class="small-12 columns">
        <p class="text-center"><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
      </div>
    </div>
  </div>
</div>
<paper-toast id="toast2" role="alert" text="Connection timed out. Showing limited messages.">
  <div style="color: #eeff41;" onclick="console.log('RETRY')">Retry</div>
</paper-toast>