<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon"><span></span></a>
      </section>

      <section class="right tab-bar-section">
        <div class="text-right"><i class="fa fa-user"></i> User Name</div>
      </section>
    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label><i class="fa fa-cog"></i> Menu</label></li>
        <li><a href="#">The Psychohistorians</a></li>
        <li><a href="about">About</a></li>
        <li><label><i class="fa fa-cog"></i> Settings</label></li>
      </ul>
    </aside>
    <a class="exit-off-canvas"></a>

    <div class="row">
      <section class="main-section">
        <div class="small-12 columns">
  <h1>Hello Osama!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="small-12 columns marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <p> <paper-button raisedButton onclick="document.querySelector('#toast2').show()" label="Get Messages"></paper-button></p>
  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>

  <paper-toast id="toast2" role="alert" text="Connection timed out. Showing limited messages.">
    <div style="color: #eeff41;" onclick="console.log('RETRY')">Retry</div>
  </paper-toast>
</div>
        </div>
      </section>
    </div>
    <div class="footer">
      <div class="small-12 columns">
        <p class="text-center"><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
      </div>
    </div>

  </div>
</div>
