<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon"><span></span></a>
      </section>

      <section class="right tab-bar-section">
        <vc-nav user="Jordan Burke" avatar="/images/avatars/BurtMacklin.jpg"></vc-nav>
      </section>
    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label><i class="fa fa-cog"></i> Menu</label></li>
        <li><a href="#/">Dashboard</a></li>
        <li><a href="#/history">History</a></li>
        <li><a href="#/news">News</a></li>
        <li><a href="#/careteam">Careteam</a></li>
        <li><label><i class="fa fa-cog"></i> Settings</label></li>
        <li><a href="#/profile">Edit Profile</a></li>
      </ul>
    </aside>
    <a class="exit-off-canvas"></a>

    <div class="row">
      <section class="main-section">
        <div class="small-12 columns">
          <h1 class="logo text-center">Vitamin <img src="/images/logo-big.png"></h1>
          <h1 class="text-center">Patient News</h1>
          <h2 class="section-head">
            Today
            <div class="pull-right">8/5/14</div>
          </h2>
          <div class="small-12 columns">
            <ul class="history small-12 columns">
              <li class="small-12 columns"><h4>Logged in at 12:13pm</h4></li>
              <li class="small-12 columns"><h4>Dr. Hashmi assigned 30 Day CPAP tracktion at 10:01am</h4><div class="pull-right"><paper-button raisedButton ng-click="go('/tracktion')" label="Record Blood Glucose"></paper-button></div></li>
              <li class="small-12 columns"><h4>Blood glucose recorded: 114 mg/dL at 7:18am (via SMS)</h4></li>
              <li class="small-12 columns"></li>
            </ul>
          </div>
          <div class="small-12 columns">
            <h2 class="section-head">
              This week
              <div class="pull-right">7/29/14 - 8/5/14</div>
            </h2>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
